h2{
    background-color: cornflowerblue;
    font-family: Avenir;
    font-size: 40px;
}
#mi-titulo{
    background-color: rgb(252, 0, 252);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:cornsilk;
}